VITE_AVATAR_URL=
VITE_SOCIAL_LINKEDIN=https://linkedin.com/in/your-user
VITE_SOCIAL_GITHUB=https://github.com/chyper00
VITE_SOCIAL_TWITTER=https://twitter.com/your-user
VITE_SOCIAL_MEDIUM=https://medium.com/@your-user
